/* 기본 폰트 */
@font-face {
    font-family: 'SeoulHangang';
    src: url('./assets/fonts/SeoulHangangCB.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./assets/fonts/SeoulHangangB.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./assets/fonts/SeoulHangangM.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SeoulNamsan';
    src: url('./assets/fonts/SeoulNamsanEB.ttf') format('truetype');
    font-weight: bolder;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'SeoulHangang', 'Roboto',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
